/*index page*/

html,
body {
  margin: 0;
  background-color: rgb(58, 54, 54);
  color: rgb(250, 246, 238);
  font-family: Helvetica;
}

/*header*/

#top {
  padding: 10px;
  background-color: gray;
  border-bottom: 2px solid rgb(92, 90, 90);
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  z-index: 1;
}

#top nav {
  justify-content: left;
  display: flex;
}

#top a {
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Helvetica";
  text-decoration: none;
  color: white;
}

#top a:hover {
  color: rgb(152, 252, 252);
}

#top nav img {
  width: 35px;
  height: 35px;
}
/*header finished*/

#logoContainer {
  margin-top: 100px;
}

#logoTitle {
  margin: 15px auto;
  width: 25%;
}

#logoTitle h1 {
  display: inline;
  margin: 15px;
  font-size: 28px;
}

#logoTitle img {
  height: 35px;
  width: 35px;
}

/*footer*/

footer {
  padding: 15px;
  text-align: center;
  background-color: rgb(84, 88, 88);
  color: white;
  font-size: 18px;
}

footer span {
  padding: 5px;
}

footer a {
  text-decoration: none;
  padding: 5px;
  color: white;
  float: inline-end;
}

footer a:hover {
  color: rgb(152, 252, 252);
}

#welcomeContainer {
  display: flex;
  align-items: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  background-image: url("../images/opaque-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  height: 850px;
}

#welcomeContainer .welcomeText {
  width: 50%;
  margin: 20px;
  padding: 15px;
  font-size: 25px;
  letter-spacing: 1.5px;
}

#welcomeContainer .welcomeText h1 {
  font-size: 60px;
}

#welcomeContainer .welcomeText span {
  font-style: italic;
}

#welcomeContainer .welcomeArticle {
  width: 80%;
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 36px;
  margin-top: 70px;
  border-left: 3px solid white;
  letter-spacing: 1.5px;
  font-style: oblique;
}

.welcomeText img {
  height: 50px;
}

#featuresContainer {
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 0px 25px;
}

#featuresContainer article {
  width: 33%;
  font-size: 20px;
  letter-spacing: 0.5px;
  padding: 14px;
}

#featuresContainer article h2 {
  font-size: 25px;
}

.centeredHeading {
  margin-top: 65px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 1px;
}

#products {
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.price {
  visibility: hidden;
  color: white;
}

#products li:hover .price {
  visibility: visible;
}

#products li:hover {
  color: white;
}

#products li {
  color: rgb(196, 196, 196);
  margin: 5px;
}
